/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2021, 4:34:31 PM
    Author     : ucova
*/


#jumbotron {
    padding: 10px;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    color: white;
    border-radius: 0;
}

#perfil{
    margin-bottom: 20px;
}

p{
    line-height: 10px;
}

.carousel-item h3{
    background:rgba(0,0,0,0.7);
}

.carousel-item img{
    width: 300px;
    height: auto;
}